@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fa-asterisk {
  color: red;
  font-size: 0.5rem;
}
.fa-angle-down {
  color: #777;
  font-size: 0.9rem;
}

.fa-arrow-left {
  font-size: 1rem;
}
figure .imgblock {
  width: 100%;
}
.imgblock {
  display: block;
}

.white-space {
  white-space: nowrap;
}

.main {
  background-color: #f8fafb;
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  width: 82%;
  padding-inline: 5%;
  padding-bottom: 20vh;
  font-family: "Noto Sans", sans-serif;
  overflow: auto;
}
.main2 {
  background-color: #f8fafb;
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  width: 82%;
  padding-inline: 5%;
  padding-bottom: 20vh;
  font-family: "Poppins", sans-serif;
  overflow: auto;
}
.main3 {
  background-color: #f8fafb;
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  width: 82%;
  padding-inline: 5%;
  padding-bottom: 20vh;
  font-family: "Poppins", sans-serif;
  overflow: auto;
  display: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5vh 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: transparent;
}

.replacemain {
  display: flex;
  flex-flow: row nowrap;
  gap: 1%;
  align-items: left;
}

aside.sectionLeft {
  width: 23%;
  display: grid;
  align-content: start;
  justify-content: left;
  padding-top: 1vh;
}

section.sectionRight {
  padding-top: 1vh;
  width: 67%;
}

form.firstPage {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 3.5vh;
}

form.firstPage input {
  width: 100%;
  border: none;
  outline: none;
}

section.firstPageSecond,
section.firstPageSeventh,
section.firstPageNine,
section.firstPageTen,
section.firstPageFourteen,
section.firstPageSixteen {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
}

.divWithin {
  display: flex;
  flex-flow: column nowrap;
  gap: 1vh;
  width: 47%;
}

.commonSect {
  display: flex;
  flex-flow: column nowrap;
  gap: 1vh;
}

form.firstPage select {
  width: 100%;
  border: none;
  outline: none;
}

select > option {
  padding-left: 20px;
  border-radius: none;
}

select > option:hover {
  background-color: rgb(127, 255, 255);
}

/* former page two */
/* former page two */

section.radiobutt {
  width: 80%;
}

section.radiobutt h5 {
  margin-bottom: 1vh;
}

.displayShortOne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 10%;
}

section.radiobutt div.shortOne {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12%;
}

div.shortOne p {
  font-size: 0.9rem;
}

.articleCommon {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5vh;
  width: 100%;
}

section.commonSect .dragNdrop {
  background-color: #b2d2f982;
  border-style: dashed;
  display: grid;
  text-align: center;
}

section.commonSect .dragNdrop p {
  color: rgb(24, 24, 149);
}

#Lleftborder {
  border-left: 1.5px solid silver;
  padding-left: 5px;
}
.commonInputL {
  border: 1.5px solid silver;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 15px 12px;
  background-color: white;
  border-radius: 5px;
}

div.commonInputSS {
  border: 1.5px solid silver;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 12px;
  background-color: white;
  border-radius: 5px;
}

.commonInputS {
  border: 1.5px solid silver;
  background-color: white;
  width: 47%;
  padding: 15px 12px;
  border-radius: 5px;
}
article.submitbutt button {
  width: 100%;
  padding: 15px 12px;
  color: white;
  background-color: #0c2f6a;
  border-radius: 5px;
  border: none;
}

article.submitbutt button:hover {
  filter: brightness(150%);
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
-moz-appearance: textfield;
} */

body {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  overflow: auto;
  overflow: auto;
  font-family: "Noto Sans", sans-serif;
}

aside.tryit {
  position: sticky;
  top: 0;
  width: 18%;
  background-image: url("./assets/mustuse.png");
  background-attachment: fixed;
  background-position: left;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

aside.tryit article {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(236, 234, 234);
  height: 100%;
  background-image: radial-gradient(
    rgba(44, 80, 143, 0.9),
    rgba(7, 33, 80, 0.9)
  );
  justify-content: flex-end;
  gap: 2%;
  width: 100%;
}

aside.tryit article p {
  padding-inline: 5%;
  text-align: center;
  font-size: 1.2rem;
}

aside.tryit article figure {
  width: 100%;
}
aside.tryit article figure img {
  display: block;
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
}

article.pBlue p {
  color: #8d94da;
  padding-top: 3vh;
  padding-bottom: 5vh;
}
